@charset "utf-8";
/* CSS Document */

p{
	font-size: 25px;
}
h2{
	color: red;
}
.test{
	font-size: 16px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}